/* reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

/* Grid */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "one"
        "two";
  
}

.container img {
    max-width: 50vw;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

.one {
    grid-area: one;
    display: flex;
    background-color: #212121;
    grid-row: 1 / span 2;
    background: linear-gradient(0deg, #21212100 0%, #212121 25%);
}

.two {
    grid-area: two;
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin: auto;
    width: 40%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}

h1 {
    color: silver;
    font-size: 4vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}

.logo img {
    width: 100%;
    height: 20%;
    margin-right: 10px;
    font-size: 5vw;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    margin-right: 20px;
    font-size: clamp(16px, 4vw, 24px);
    background-color: black;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #555;
}

main {
    padding: 40px;
    text-align: center;
}

h2 {
    color: silver;
    font-size: 4vw;

    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    color: silver;
    margin-bottom: 10px;
    font-size: 18px;
}

form input,
form select,
form textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: auto;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #333;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin-right: 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

.parallax {
    /* imagem */
    background-image: url("../img/20527896.jpg");

    /* altura */
    min-height: 500px;

    /* efeito de scroll */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Altera para uma única coluna */
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five";
    }
}

@media (max-width: 800px) {
    .two {
        width: 90%;
    }
}








