/* reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;

}

/* ----- */



/* Grid */

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  /* Duas colunas */
  grid-template-rows: auto auto auto;
  /* Tres linhas */
  grid-template-areas:
    "one one"
    "two three"
    "four five";
}
.container img {

  max-width: 50vw;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}


/*itens */
.one {
  grid-area: one;
  display: flex;
  background-color: #212121;
  grid-row: 1 / span 2;
  background: linear-gradient(0deg, #21212100 0%, #212121 25%);

}

h1 {
  color: silver;
  font-size: 4vw;
}

.logo {

  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.logo img {
  width: 100%;
  height: 20%;
  margin-right: 10px;
  font-size: 5vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu {

  display: flex;
  justify-content: flex-end;
  
}

.menu li {
  margin-left: 10px;
  
}

.menu li a {
  display: block;
 
  margin-right: 20px;
  font-size: clamp(16px, 4vw, 24px);
  background-color: black;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: #555;
}

p {
  color: silver;
  display: flex;
  font-size: clamp(14px, 3vw, 18px);
  text-shadow: 0 0 3vw silver;
  text-align: justify;
  margin: 0; /* Remove as margens padrão */
  margin-top: 10px; /* Define a margem superior desejada */
  margin-bottom: 10px; /* Define a margem inferior desejada */
}


.two {
  grid-area: two;
  display: flex;
 

}



.three {
  grid-area: three;
  display: flex;
  align-items: center;
  
}

.three .text-box {
  overflow-x: auto;
  max-height: 300px;
  padding: 10px; /* Adicione um espaçamento interno desejado */
  color: white; /* Defina a cor do texto conforme necessário */
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com opacidade de 70% */
  border-radius: 10px; /* Adicione bordas arredondadas */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Adicione uma sombra */
  
}

.four {
  grid-area: four;
  display: flex;


}

.five {
  grid-area: five;
  display: flex;
  align-items: center;
  
}

.five .text-box {
  overflow-x: auto;
  max-height: 300px;
  padding: 10px; /* Adicione um espaçamento interno desejado */
  color: white; /* Defina a cor do texto conforme necessário */
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com opacidade de 70% */
  border-radius: 10px; /* Adicione bordas arredondadas */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Adicione uma sombra */
  
}


.footer {
  background-color: #000000;
  color: white;
  padding: 20px;
}

.footer p {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer ul li {
  margin-right: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.parallax {
  /* imagem */
  background-image: url("../img/20527896.jpg");

  /* altura */
  min-height: 500px;

  /* efeito de scroll */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Altera para uma única coluna */
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}